.Header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-decoration: none;
}

.Header li {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
.Header li a {
  color: white;
  text-decoration: none;
}

.Home ul {
  padding: 20px;
  overflow: hidden;
}

.Home li {
  text-decoration: none;
  display: inline;
  margin: 100px;
}

.Home li a {
  list-style-type: none;
  padding: 20px 24px;
  color: #333;
  text-decoration: none;
}

.Game1 {
  padding: 100px;
  top: 100px;
}

.active5 {
  padding: 20px;
}

.activenone {
  display: none;
}

/*.Header li a, button {
 /* display: outside;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
*/

/*.Header li a:hover:not(.active, .active2) {
  background-color: #111;
}*/

.active {
  background-color: #4caf50;
  text-decoration: none;
}
.active2 {
  background-color: darkgreen;
  text-decoration: none;
}

.Header ul li:nth-child(1) {
  float: left;
}

.Header ul li:nth-child(2) {
  float: left;
}

.Header ul li:nth-child(3) {
  float: right;
}

.Header ul li:nth-child(4) {
  float: right;
}

.square {
  background: white;
  border: 1px solid grey;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}
.square:focus {
  outline: none;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.black-card {
  color: #333;
  background-color: #333;
  height: 125px;
  width: 125px;
  border-radius: 10px;
}

.white-card {
  color: white;
  background-color: white;
  height: 125px;
  width: 125px;
  border-radius: 10px;
}
.App {
  height: 100vh;
  display: flex;
  color: rgb(134, 67, 67);
}

.App__Aside {
  width: 50%;
  background-color: #66dac7;
}

.App__Form {
  width: 50%;
  background-color: #2e4158;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4c5d72;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ed0c0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 2000px;
}

.FormTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #181010;
  text-decoration: none;
  display: inline-block;
  font-size: 5.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
  float: right;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
  float: center;
}

.FormField {
  margin-bottom: 40px;
  position: relative;

  top: 100px;
  left: 500px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgb(8, 8, 8);
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616e7f;
}

.FormField__Button {
  background-color: #52c452;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225e62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

/* Add some padding inside the card container */
/*.container {
  padding: 2px 16px;
}*/

/*.ItsAbout{
  padding: 20px;
}
.active3{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/
